body,html{
    margin:0;
    height: 100%;
    background-image: url("../img/tile.jpg") ;
}
header{
    margin-top: 2%;
    margin-bottom: 2%;
}

#board{
    background-image: url('../img/formbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    width: 70%;
    margin: auto;
}

b{
    font-size: larger;
    color: white;
}

#show, #add, #clear, #clearr{
    margin: 1%;
}

#date,#task, #time{
    border: none;
    background-color: transparent !important;
    outline: none !important;
    margin-left: 13%;
    font-weight: 800;
}
#task{
    width: 87%;
    overflow: paged-y-controls !important; /* This changed */
}
#date,#time{
    width: max-content;
}
li{
    color: #000000;
    transition: .4s;
    background-image: url("../img/notebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
    display: inline-block !important;
    word-break: break-word;
    overflow: scroll !important; /* This changed */
    padding-right: 2%;
    float: left !important;
    margin-left: 0.5%;
    list-style-position: inside;
}

div ul{
    display: inline-table !important;
}

.hide {
    visibility: hidden;
}
.show{
    visibility: visible;
}
li, ul{
    display: inline;
}

li > button {
    font-weight: normal;
    background: none;
    border: none;
    padding-top: 2%;
    position: sticky;
    float: left !important;
    color: #ff0003;
    font-weight: 800;
}
ul > li{
    display: inline-block;
}

#error{
    display: none;
}
footer {
    bottom: 0;
    left: 45%;
    position: fixed;
    color: white;
}
