body,html{
    margin:0;
    height: 100%;
    background-image: url("../img/tile.jpg") ;

}
.jumbotron{
    background-color: rgba(231, 244, 249, 0.4);
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    margin-left: -15px;
    margin-right: -15px;
}


#board {
    background-image: url('../img/formbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
}
#newNote{
    margin-left:12% ;
    color: purple;
    font-weight: 700;
    width: 89%;
    overflow : scroll;
    overflow-y: scroll; /* This changed */
}
#dateSection{
    margin-top: 4%;
    margin-left:12% ;
}
input{
    overflow-y: scroll;
}
.form-control {
    border: none;
    background-color: transparent !important;
    outline: none !important;
}

button {
    margin-top: 2%;
    margin-right: 0.5%;
}
.notesClass {
    background-image: url("../img/notebg.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    display: inline-table;
    word-break: break-all;
    overflow-y: auto; /* This changed */
}

