body {
    height: 100vh;
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(97, 91, 89, 0.068);
}

#homeButton,
#liveReportButton,
#aboutButton {
    color: rgb(192, 163, 34);
    cursor: pointer;
}

.card {
    width: 33.3%;
    display: inline-block;
    margin-top: 1.5%;
}

.tumbImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.spinner-grow {
    background: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch {
    position: relative;
    float: right;
    width: 60px;
    height: 34px;
}

.custom-switch {
    position: relative;
    float: right;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(7, 168, 80);
}

input:focus+.slider {
    -webkit-box-shadow: 0 0 1px rgb(231, 200, 116);
    box-shadow: 0 0 1px rgb(231, 200, 116);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 60%;
}

#myPicture {
    height: 500px;
}